@model IEnumerable<DotNetCoreSqlDb.UserType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                <a>Wk 1</a>
            </th>
            <th>
                <a>Wk 2</a>
            </th>
            <th>
                <a>Wk 3</a>
            </th>
            <th>
                <a>Wk 4</a>
            </th>
            <th>
                <a>Wk 5</a>
            </th>
            <th>
                <a>Wk 7</a>
            </th>
            <th>
                <a>Wk 8</a>
            </th>
            <th>
                <a>Wk 9</a>
            </th>
            <th>
                <a>Wk 10</a>
            </th>
            <th>
                <a>Wk 11</a>
            </th>
            <th>
                <a>Wk 12</a>
            </th>
            <th>
                <a>Wk 13</a>
            </th>
            <th>
                <a>Wk 14</a>
            </th>
            <th>
                <a>Wk 15</a>
            </th>
            <th>
                <a>Wk 16</a>
            </th>
            <th>
                <a>Wk 17</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
