@model IEnumerable<DotNetCoreSqlDb.UserType>

@{
    ViewData["Title"] = "CurrentScore";
}

<h1>Current Teams</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th>
                5
            </th>
            <th>
                6
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member6)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
