@{
    IEnumerable<Playersstatistics> stats = ViewData["Stats"] as IEnumerable<Playersstatistics>;
}

@{
    ViewData["Title"] = "Current Score";
}

<h1>Current Score</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Player
            </th>
            <th>
                Team
            </th>
            <th>
                Pos
            </th>
            <th>
                Age
            </th>
            <th>
                Games Played
            </th>
            <th>
                Passes
            </th>
            <th>
                Points
            </th>
            <th>
                Ppr Scoring
            </th>
            <th>
                Pos Rank
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in stats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gamesplayed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passescompleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fantasypoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pprscoring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Posrank)
                </td>
            </tr>
        }
    </tbody>
</table>
